# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.
**Objectives** :List popular languages for Data Science
- Python
- R
- MySql

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. MySql

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib

### Data Science Tools

| Data Science Tools            |
|-------------------------------|
| Jupyter Notebook              |
| RStudio                       |
| Apache Zeppelin               |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
a=200
b=a/60
print(b)

3.3333333333333335

## Author: Vinay